<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Fractionrepresentations</th>
    <th>Measurerepresentations</th>
    <th>Visiblewindows</th>
    <th>Visiblewindowitems</th>
    <th>Tempoeditable</th>
    <th>Lowerrangeoftempo</th>
    <th>Upperrangeoftempo</th>
    <th>Lowerrangeofbeatspermeasure</th>
    <th>Upperrangeofbeatspermeasure</th>
    <th>Looping</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.name %></td>
    <td><%= assignment.fractionRepresentations %></td>
    <td><%= assignment.measureRepresentations %></td>
    <td><%= assignment.visibleWindows %></td>
    <td><%= assignment.visibleWindowItems %></td>
    <td><%= assignment.tempoEditable %></td>
    <td><%= assignment.lowerRangeOfTempo %></td>
    <td><%= assignment.upperRangeOfTempo %></td>
    <td><%= assignment.lowerRangeOfBeatsPerMeasure %></td>
    <td><%= assignment.upperRangeOfBeatsPerMeasure %></td>
    <td><%= assignment.looping %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
