<h1>Listing people</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Has one</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.firstName %></td>
    <td><%= person.lastName %></td>
    <td><%= person.has_one %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
