<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @person.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastName %>
</p>

<p>
  <b>Has one:</b>
  <%= @person.has_one %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
