<h1>Listing class_instructions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Has many</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @class_instructions.each do |class_instruction| %>
  <tr>
    <td><%= class_instruction.name %></td>
    <td><%= class_instruction.time %></td>
    <td><%= class_instruction.has_many %></td>
    <td><%= link_to 'Show', class_instruction %></td>
    <td><%= link_to 'Edit', edit_class_instruction_path(class_instruction) %></td>
    <td><%= link_to 'Destroy', class_instruction, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class instruction', new_class_instruction_path %>
