<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @class_instruction.name %>
</p>

<p>
  <b>Time:</b>
  <%= @class_instruction.time %>
</p>

<p>
  <b>Has many:</b>
  <%= @class_instruction.has_many %>
</p>


<%= link_to 'Edit', edit_class_instruction_path(@class_instruction) %> |
<%= link_to 'Back', class_instructions_path %>
