  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav" role="navigation">
          <li>  <%= link_to "Sound of Fractions", root_path, :class => 'brand' %></li>
          <% if user_signed_in? %>
            <%= render 'layouts/shared/loadsavesong' %>
          <% else %>
          <% end %>
        </ul>
        <ul class="nav pull-right login" role="navigation">
          <%= render 'layouts/shared/login' %>
        </ul>
      </div> <!-- End Container-fluid -->

    </div> <!-- End Navbar-inner -->
  </div> <!-- End Navbar -->

<div class="row-fluid">
  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>
</div>
