<!DOCTYPE html>
<html>
<head>
  <title>SoundOfFractions</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= javascript_include_tag "assets" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav" role="navigation">
        <li><a class="brand" href="#">The Sound of Fractions</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Load</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>placeholder 1</li>
            <li>placeholder 2</li>
            <li>placeholder 3</li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Save</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>            
              <form class="navbar-form">
                <input class="span2" type="text" placeholder="Song Name">
              </form>
            </li>
              <div>
                <div style="float: left">
                  <button class="btn">Save</button>
                </div>
                <div style="float: right">
                  <button class="btn">Cancel</button>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right" role="navigation">
        <li>
          <form class="navbar-form">
            <input class="span2" type="text" placeholder="User Id">
            <button type="submit" class="btn">Sign in</button>
          </form>
        </li>
      </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row-fluid">
      <%= yield %>  
      <!--Body content-->

    <hr>


  <footer>
  </footer>

</body>
</html>
