<!DOCTYPE html>
<html>
<head>
  <title>SoundOfFractions</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= javascript_include_tag "assets" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <%= render 'layouts/navigation' %>

  <div class="container-fluid">

    <div class="row-fluid">
      <!--Body content-->
      <%= yield %>  

    <hr>


  <footer>
  </footer>

</body>
</html>
