<!DOCTYPE html>
<html>
<head>
  <title>Sound Of Fractions</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= javascript_include_tag "assets" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
  <%= render 'layouts/navigation' %>

<% if !browser.chrome? %>
  <p class="disclaimer">Due to the technologies used for this project, please use <a href="https://www.google.com/intl/en/chrome/">Google Chrome</a>.</p>
  <script type="text/javascript">alert('Due to the technologies used for this project, please use Google Chrome')</script>
<% else %>
  <div class="container-fluid">

    <div class="row-fluid">
      <!--Body content-->
      <%= yield %>  

    </div>

  <footer>
  </footer>
<% end %>
</body>
</html>
